In [23]:
import matplotlib
import numpy as np
import pandas as pd
from datetime import datetime
print("done importing")

done importing

In [72]:
covid_data = pd.read_csv('covid-data.csv')
covid_data.set_index('date')
covid_data

,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million
0,Brazil,12/15/2021,22205707,5078.0,4620.571,617552,298.0,145.571,103768.166,23.730,21.592,2885.845,1.393,0.680
1,Brazil,12/16/2021,22209368,3661.0,3893.143,617675,123.0,134.571,103785.274,17.108,18.193,2886.420,0.575,0.629
2,Brazil,12/17/2021,22213731,4363.0,3507.143,617873,198.0,130.286,103805.663,20.388,16.389,2887.346,0.925,0.609
3,Brazil,12/18/2021,22216112,2381.0,3463.857,618011,138.0,142.429,103816.789,11.127,16.187,2887.990,0.645,0.666
4,Brazil,12/19/2021,22217570,1458.0,3441.429,618066,55.0,138.571,103823.603,6.813,16.082,2888.247,0.257,0.648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,United States,2/9/2022,77285250,188875.0,222960.571,913154,3443.0,2434.286,232147.043,567.337,669.722,2742.904,10.342,7.312
301,United States,2/10/2022,77457316,172066.0,211349.429,916335,3181.0,2563.571,232663.890,516.847,634.845,2752.459,9.555,7.700
302,United States,2/11/2022,77667718,210402.0,188384.714,918939,2604.0,2338.143,233295.889,631.999,565.864,2760.281,7.822,7.023
303,United States,2/12/2022,77723070,55352.0,181350.286,919743,804.0,2324.571,233462.153,166.265,544.734,2762.696,2.415,6.982
304,United States,2/13/2022,77780002,56932.0,177974.571,920184,441.0,2331.286,233633.164,171.011,534.595,2764.020,1.325,7.003

In [71]:
destinations = ['London', 'Paris', 'Seoul']
dates = pd.date_range(start="2021-12-15",end="2022-02-13")

price_data = pd.DataFrame(columns=destinations, index=dates)

for dest in destinations:
    dest_data = pd.read_csv(str(dest) + ".csv")
    dest_data = dest_data[::-1] # reversing dates to match covid data
    price_data[dest] = dest_data['Price'].values

price_data

            London  Paris  Seoul
2021-12-15     291    429   1068
2021-12-16     291    429   1068
2021-12-17     291    426   1063
2021-12-18     255    427   1063
2021-12-19     255    433   1102
...            ...    ...    ...
2022-02-09     312    405   1258
2022-02-10     390    360   1258
2022-02-11     470    418   1230
2022-02-12     470    418   1251
2022-02-13     472    418   1206

[61 rows x 3 columns]